.ln-page-wide main {
}

.ln-page-thin main {
	width: 11%;
}

.ln-cover {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 35vh;
	min-height: 200px;
}

.ln-page-thumbnail {
    display: block;
    object-fit: cover;
    border-radius: 3px;
    width: 124.32px;
    height: 124.32px;
    transition: opacity 100ms ease-out 0s;
    font-size: 5rem;
}

.ln-icon-image {
    object-fit: fill;
    width: 21.312px;
    height: 21.312px;
}

.ln-icon-emoji {
    display: inline;
    object-fit: fill;
    width: 21.312px;
    height: 21.312px;
    text-align: center;
}

.ln-table {
    margin: 8px 18px 18px 8px;
}

.ln-page-children {
}

.ln-toggle-children {
    margin-top: 0.7em;
    margin-left: 1.5em;
}

.ln-paragraph-children {
}

.ln-bulleted-list-item-children {
    margin-left: 0.3em;
}

.ln-numbered-list-item-children {
    margin-top: 1.0em;
    margin-left: 1.5em;
}

.ln-callout-children {
    margin-top: 0.2em;
    margin-left: 2.5em;
}

.ln-quote-children {
    margin-top: 1.5em;
}

.ln-behaviour-hover-highlight:hover {
    background-color: #EFEFEF;
}

/*.ln-color-default {
    color: #37352F;
    fill: #37352F;
    caret-color: #37352F;
}*/

.ln-color-default {
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-gray {
    color: rgb(120, 119, 116);
    fill: rgb(120, 119, 116);
    caret-color: rgb(120, 119, 116);
}

.ln-color-brown {
    color: rgb(159, 107, 83);
    fill: rgb(159, 107, 83);
    caret-color: rgb(159, 107, 83);
}

.ln-color-orange {
    color: rgb(217, 115, 13);
    fill: rgb(217, 115, 13);
    caret-color: rgb(217, 115, 13);
}

.ln-color-yellow {
    color: rgb(203, 145, 47);
    fill: rgb(203, 145, 47);
    caret-color: rgb(203, 145, 47);
}

.ln-color-green {
    color: rgb(68, 131, 97);
    fill: rgb(68, 131, 97);
    caret-color: rgb(68, 131, 97);
}

.ln-color-blue {
    color: rgb(51, 126, 169);
    fill: rgb(51, 126, 169);
    caret-color: rgb(51, 126, 169);
}

.ln-color-purple {
    color: rgb(144, 101, 176);
    fill: rgb(144, 101, 176);
    caret-color: rgb(144, 101, 176);
}

.ln-color-pink {
    color: rgb(193, 76, 138);
    fill: rgb(193, 76, 138);
    caret-color: rgb(193, 76, 138);
}

.ln-color-red {
    color: rgb(212, 76, 71);
    fill: rgb(212, 76, 71);
    caret-color: rgb(212, 76, 71);
}


.ln-color-default-background {
    background: inherit;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-gray-background {
    background: rgb(241, 241, 239) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-brown-background {
    background: rgb(244, 238, 238) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-orange-background {
    background: rgb(251, 236, 221) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-yellow-background {
    background: rgb(251, 243, 219) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-green-background {
    background: rgb(237, 243, 236) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-blue-background {
    background: rgb(231, 243, 248) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-purple-background {
    background: rgba(244, 240, 247, 0.8) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-pink-background {
    background: rgba(249, 238, 243, 0.8) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

.ln-color-red-background {
    background: rgb(253, 235, 236) !important;
    color: inherit;
    fill: inherit;
    caret-color: inherit;
}

/*.accordion {
    background: inherit !important;
}*/

/* reduce code blocks font-size 5% */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    font-size: 95%;
}

/**************************************************
    CMS Related Styles
***************************************************/

.article-summary {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #DFE7FB;
    transition: all .4s ease;
}

.article-summary-thumbnail {
    /*background-color: #fff;*/
    border: none;
    box-shadow: none;
    padding: 0.25rem;
    max-width: 10em;
    max-height: 10em;
}

.article-category-indent-1 {
    padding-left: calc(1.25rem * 1 + 1rem) !important;
}

.article-category-indent-2 {
    padding-left: calc(1.25rem * 2 + 1rem) !important;
}

.article-category-indent-3 {
    padding-left: calc(1.25rem * 3 + 1rem) !important;
}

.article-category-indent-4 {
    padding-left: calc(1.25rem * 4 + 1rem) !important;
}

.article-category-indent-4 {
    padding-left: calc(1.25rem * 5 + 1rem) !important;
}

.article-category-indent-6 {
    padding-left: calc(1.25rem * 6 + 1rem) !important;
}


.ln-badge-rounded-circle {
    height: calc(1em + var(--bs-badge-padding-y) * 2);
    padding-left: var(--bs-badge-padding-y);
    padding-right: var(--bs-badge-padding-y);
    border-radius: var(--bs-border-radius-pill)
}

.ln-badge-rounded-circle > * {
    display: block;
    width: 1em
}

.ln-badge-rounded-circle.badge-lg {
    height: calc(1em + var(--bs-badge-padding-y-lg) * 2);
    padding-left: var(--bs-badge-padding-y-lg);
    padding-right: var(--bs-badge-padding-y-lg)
}